<div id='extensionContent'>
	<msgqueue for="$theController->messageQueue()" />
	<h1 class="extension_title">{=$extension['title']}</h1>
	<div class="extension_createTime">{=date("Y年m月d日 H:m:s", $extension['createTime'])}</div>
	<div class="extension_content">
		{=$theController->getContentWithAttachmentUrl($extension['description'] , $theModel->child("attachments"))}
	</div>
	
	<if '$theModel->child("attachments")->childrenCount() > 0 '>
		<div class='extension_attachment_list'>
			<span>附件列表:</span>
			<foreach for='$theModel->child("attachments")' item='attachment'>
				<if "!$attachment['displayInList']">
					<continue/>
				</if>
				<div class='extension_attachment'>
					<a href="{=$theController->getHttpUrl($attachment['storepath'])}">{=$attachment['orginname']}</a>
					{=$attachment['size']/1000}KB
				</div>
			</foreach>
		</div>
	</if>
</div>
<views/>