<lib name='jquery'/>
<lib name='jquery.farbtastic'/>
<css src="extensionstore:css/Index.css" />
<resrc />
<js src="coresystem:js/jquery-1.7.1.js"/>

<script type="text/javascript">
	jQuery(document).ready(function(){
			jQuery.ajax({
				type : 'GET',
				cache : false,
				dataType : "jsonp",
				jsonp : "callback",
				jsonpCallback : "setupCheck",
				url : "http://{=$BackAddress}?c=org.opencomb.coresystem.system.ExtensionStoreJsonp",
				success : function(data) {
				}
			});	
	});

	function setupCheck(data)
	{
		var aExtensionSteup = document.getElementById('extensionSetup');
		var TagList=aExtensionSteup.getElementsByTagName('div');
		
		for(var i=0;i<TagList.length;i++)
		{	
			if(TagList[i].hasAttribute('attr.Flag'))
			{	
				if(TagList[i].getAttributeNode('attr.Flag').value==1)
				{	
					for(item in data)
					{	
						if(item==TagList[i].getAttributeNode('attr.ExtName').value)
						{	
							if(data[item].compareversion>TagList[i].getAttributeNode('attr.versionBit').value)
							{	
								document.getElementById(item+TagList[i].getAttributeNode('attr.version').value+"setup").style.display='';
							}else if(data[item].compareversion<TagList[i].getAttributeNode('attr.versionBit').value){
								document.getElementById(item+TagList[i].getAttributeNode('attr.version').value+"update").style.display='';
							}else{
								document.getElementById(item+TagList[i].getAttributeNode('attr.version').value+"installed").style.display='';
							}
						}	
					}
				}
			}
		}
		var TagList2=aExtensionSteup.getElementsByTagName('div');
		for(var i=0;i<TagList.length;i++)
		{	
			if(TagList[i].hasAttribute('attr.Flag'))
			{	
				if(TagList[i].getAttributeNode('attr.Flag').value==1)
				{
					var bUninstalled =false;
					for(item in data)
					{
						if(item==TagList[i].getAttributeNode('attr.ExtName').value)
						{	
							bUninstalled=true;
						}
					}
					if(!bUninstalled)
					{
						for(var h=0;h<TagList2.length;h++)
						{
							if(TagList2[h].hasAttribute('attr.Flag'))
							{
								if(TagList2[h].getAttributeNode('attr.Flag').value==1 )
								{
									
									if(TagList2[h].getAttributeNode('attr.ExtName').value==TagList[i].getAttributeNode('attr.ExtName').value)
									{
										document.getElementById(TagList[h].getAttributeNode('attr.ExtName').value+TagList[h].getAttributeNode('attr.version').value+"uninstalled").style.display='';
									}
								}
							}

						}
						
					}
				}
			}
		}	
	}
	
	

	function installExtension(iframeSrc){
		var nZip = iframeSrc.indexOf(".zip");
		var pkgUrl = iframeSrc.substring(0,nZip+4);
		var nHost = iframeSrc.indexOf("setupHost"); 
		var host = iframeSrc.substring(nHost+10);
		pkgUrl ='http://'+'{/*.url.host}'+'/'+pkgUrl;
		showModalDialog("http://"+host+"?c=org.opencomb.coresystem.system.ExtensionDownloadSetup&pkgUrl="+pkgUrl);
	}


	function selectVersion(versionValue){
		var x =document.getElementById(versionValue.substr(0,versionValue.indexOf('.'))+versionValue.substr(versionValue.indexOf('.')+1));
		for(i=0;i<x.length;i++)
		{
			document.getElementById(x.options[i].value).style.display="none";	
		}

		document.getElementById(versionValue.substr(0,versionValue.indexOf('.'))+versionValue.substr(versionValue.indexOf('.')+1)).value=versionValue;
		document.getElementById(versionValue).style.display="";
	}
	
	function displayMore(descriptionMore){
		if(document.getElementById(descriptionMore+'more').innerHTML=="更多")
		{
			document.getElementById(descriptionMore+'exdescriptionmore').style.overflow="visible";
			document.getElementById(descriptionMore+'exdescriptionmore').style.display="";
			document.getElementById(descriptionMore+'exdescriptionmore').style.height="auto";
			document.getElementById(descriptionMore+'more').innerHTML="收起";
		}else {
			document.getElementById(descriptionMore+'exdescriptionmore').style.overflow="hidden";
			document.getElementById(descriptionMore+'exdescriptionmore').style.display="block";
			document.getElementById(descriptionMore+'exdescriptionmore').style.height="26px";
			document.getElementById(descriptionMore+'more').innerHTML="更多";
		}
		
	}
	
	function displayLess(descriptionMore){
		document.getElementById(descriptionMore+'exdescriptionless').style.display="none";
		document.getElementById(descriptionMore+'exdescriptionmore').style.display="";
	}
	
</script>
<div class='addExtension' attr.Flag="5">
	<a href='/?c=org.opencomb.extensionstore.extension.CreateExtension'>提交你的扩展!</a>
</div>

<div id="extensionSetup" attr.Flag="5">
<foreach for="$arrSecond"  key='key1' item='item1'>
	<if "count({=$item1})>1">
		{? $i=0;}
		<foreach for="$item1"  key='key2' item='item2'>
			<if "$i==0">
				<div class="extensionStore" attr.ExtName={=$key1} attr.Flag="1" attr.versionBit="{=$item2['32version']}" attr.version="{=$key2}" id="{=$key1.'.'.$key2}">
					
					<div class="extensionContent" attr.Flag="3">
						<span style="float:left">
							<h3>{=$item2['title']}</h3>
						 </span>
						 <span >
							({=$item2['extname']}) ver : <font color="green">{=$item2['version']}</font>
						 </span>
					    <span class="extName" style="position:absolute; top:0; right:50%;">
							<a href='javascript:void(0)' onclick="javascript:jquery('#{=$key1.$item2['32version'].'depen'}').toggle()">依赖关系</a>
						</span>
					    
						<div class="extensionUse" attr.Flag="3">
							<div class="extensionDownLoad" attr.Flag="5">
								<a href="http://{/*.url.host}/{=$item2['pkgUrl']}">下载</a>
							</div>
							<div class="extensionState" attr.Flag="3">
								<if"{=$bFlagBack}">
									<div id="{=$key1.$key2.'setup'}" style="display:none;" attr.Flag="2">
										<p>已安装最新版本</p>
									</div>
									<div id="{=$key1.$key2.'update'}" style="display:none;" attr.Flag="2">
										<a href="#" onclick="installExtension('{=$item2['pkgUrl']}+{/*.url}')">升级</a>
									</div>
									<div id="{=$key1.$key2.'installed'}" style="display:none;" attr.Flag="2">
										<p>已安装</p>
									</div>
									<div id="{=$key1.$key2.'uninstalled'}" style="display:none;" attr.Flag="2">
										<a href="#" onclick="installExtension('{=$item2['pkgUrl']}+{/*.url}')">安装</a>
									</div>
								</if>
							</div>
							<div class="extensionSelect" attr.Flag="6">
								<select id="{=$key1.$key2}" onchange="selectVersion(this.options[this.options.selectedIndex].value)">
									<foreach for="{=$item2['option']}" key='key3' item='item3'>
										<option value="{=$key3}">{=$item3}</option>						
									</foreach>
								</select>
							</div>
						</div>
					</div>
					
					<div class="extensionDependence" attr.Flag="3">

						<div id="{=$key1.$item2['32version'].'depen'}" attr.Flag="4" style="display:none;background:#f2f5f7;moz-border-radius:50px;">
							<if "empty({=$item2['dependence']})">
								无依赖关系
							</if>
							<foreach for="{=$item2['dependence']}" key='key3' item='item3'>
								<if"$item3['high']!=null">
									<if "{=$item3['itemnameCh']}!=null">
										{=$item3['typeCh']}:{=$item3['itemnameCh']}({=$item3['itemname']}){=$item3['highcompare']}{=$item3['high']}
									<else/>
										{=$item3['typeCh']}:{=$item3['itemname']}{=$item3['highcompare']}{=$item3['high']}
									</if>
								</if>
									<if "{=$item3['itemnameCh']}!=null">
										{=$item3['itemnameCh']}({=$item3['itemname']}){=$item3['lowcompare']}{=$item3['low']}<br/>
									<else/>
										{=$item3['itemname']}{=$item3['lowcompare']}{=$item3['low']}<br/>
									</if>		
							</foreach>
						</div>
					</div>
					
					<div class="extensionDescription" attr.Flag="3">
						<div  class="extensionDescriptionMore" attr.Flag="2" id="{=$key1.$item2['32version'].'exdescriptionmore'}" >
							<font face="verdana" size="2" colorgetAttributeNode="green">描述</font>:{=$item2['description']}

						</div>
						<a id="{=$key1.$item2['32version']}more" href='javascript:void(0)' onclick="displayMore('{=$key1.$item2['32version']}')">更多</a>
						<span style="position:absolute; right:13px;">Date:{=date("Y-m-d", $item2['createtime'])}</span>
					</div>
					


				</div>
			<else/>
				<div class="extensionStore"  attr.ExtName={=$key1} attr.Flag="1" attr.versionBit="{=$item2['32version']}" attr.version="{=$key2}" id="{=$key1.'.'.$key2}" style="display:none;">
					<div class="extensionContent" attr.Flag="3">
						<span style="float:left">
							<h3>{=$item2['title']}</h3>
						 </span>
						 <span >
							({=$item2['extname']}) ver : <font color="green">{=$item2['version']}</font>
						 </span>
					    <span class="extName" style="position:absolute; top:0; right:50%;">
							<a href='javascript:void(0)' onclick="javascript:jquery('#{=$key1.$item2['32version'].'depen'}').toggle()">依赖关系</a>
						</span>
					    
					    
					    <div class="extensionUse" attr.Flag="3">
					    	<span>
								<div class="extensionDownLoad" attr.Flag="5">
									<a href="http://{/*.url.host}/{=$item2['pkgUrl']}">下载</a>
								</div>
							</span>
							<span>
								<div class="extensionState" attr.Flag="3">
									<if"{=$bFlagBack}">
										<div id="{=$key1.$key2.'setup'}" style="display:none;" attr.Flag="2">
											<p>已安装最新版本</p>
										</div>
										<div id="{=$key1.$key2.'update'}" style="display:none;" attr.Flag="2">
											<a href="#" onclick="installExtension('{=$item2['pkgUrl']}+{/*.url}')">升级</a>
										</div>
										<div id="{=$key1.$key2.'installed'}" style="display:none;" attr.Flag="2">
											<p>已安装</p>
										</div>
										<div id="{=$key1.$key2.'uninstalled'}" style="display:none;" attr.Flag="2">
											<a href="#" onclick="installExtension('{=$item2['pkgUrl']}+{/*.url}')">安装</a>
										</div>
									</if>
								</div>
							</span>
							<span>
								<div  class="extensionSelect" attr.Flag="6" >
									<select id="{=$key1.$key2}" onchange="selectVersion(this.options[this.options.selectedIndex].value)">
										<foreach for="{=$item2['option']}" key='key3' item='item3'>
											<option value="{=$key3}">{=$item3}</option>						
										</foreach>
									</select>
								</div>
							</span>
						</div>

					</div>
					<div class="extensionDependence" attr.Flag="3">
						<div id="{=$key1.$item2['32version'].'depen'}" attr.Flag="4" style="display:none;background:#f2f5f7;moz-border-radius:50px;">
							<if "empty({=$item2['dependence']})">
								无依赖关系
							</if>
							<foreach for="{=$item2['dependence']}" key='key3' item='item3'>
								<if"$item3['high']!=null">
									<if "{=$item3['itemnameCh']}!=null">
										{=$item3['typeCh']}:{=$item3['itemnameCh']}({=$item3['itemname']}){=$item3['highcompare']}{=$item3['high']}
									<else/>
										{=$item3['typeCh']}:{=$item3['itemname']}{=$item3['highcompare']}{=$item3['high']}
									</if>
								</if>
									<if "{=$item3['itemnameCh']}!=null">
										{=$item3['itemnameCh']}({=$item3['itemname']}){=$item3['lowcompare']}{=$item3['low']}<br/>
									<else/>
										{=$item3['itemname']}{=$item3['lowcompare']}{=$item3['low']}<br/>
									</if>		
							</foreach>
						</div>
					</div>
					<div class="extensionDescription" attr.Flag="3">
						<div  class="extensionDescriptionMore" attr.Flag="2" id="{=$key1.$item2['32version'].'exdescriptionmore'}">
							<font face="verdana" size="2" color="green">描述</font>:{=$item2['description']}

						</div>
						<a id="{=$key1.$item2['32version']}more" href='javascript:void(0)' onclick="displayMore('{=$key1.$item2['32version']}')">更多</a>
						<span style="position:absolute; right:13px;">Date:{=date("Y-m-d", $item2['createtime'])}</span>
					</div>
		
				</div>
			</if>
			{? $i++;}
			
		</foreach>
		<else/>
		<foreach for="$item1"  key='key2' item='item2'>
				<div div class="extensionStore"  attr.ExtName={=$key1} attr.Flag="1" attr.versionBit="{=$item2['32version']}" attr.version="{=$key2}" id="{=$key1.'.'.$key2}">
					<div class="extensionContent" attr.Flag="3">
						<span style="float:left">
							<h3>{=$item2['title']}</h3>
						 </span>
						 <span >
							({=$item2['extname']}) ver : <font color="green">{=$item2['version']}</font>
						 </span>
					    <span class="extName" style="position:absolute; top:0; right:50%;">
							<a href='javascript:void(0)' onclick="javascript:jquery('#{=$key1.$item2['32version'].'depen'}').toggle()">依赖关系</a>
						</span>
						
						
						<div class="extensionUse" attr.Flag="3">
							<span>
								<div class="extensionDownLoad"  attr.Flag="5">
									<a href="http://{/*.url.host}/{=$item2['pkgUrl']}">下载</a>
								</div>
							</span>
							<span>
								<div class="extensionState"  attr.Flag="3">
									<if"{=$bFlagBack}">
										<div id="{=$key1.$key2.'setup'}" style="display:none;" attr.Flag="2">
											<p>已安装最新版本</p>
										</div>
										<div id="{=$key1.$key2.'update'}" style="display:none;" attr.Flag="2">
											<a href="#" onclick="installExtension('{=$item2['pkgUrl']}+{/*.url}')">升级</a>
										</div>
										<div id="{=$key1.$key2.'installed'}" style="display:none;" attr.Flag="2">
											<p>已安装</p>
										</div>
										<div id="{=$key1.$key2.'uninstalled'}" style="display:none;" attr.Flag="2">
											<a href="#" onclick="installExtension('{=$item2['pkgUrl']}+{/*.url}')">安装</a>
										</div>
									</if>
								</div>
							</span>
							<span>
								<div  class="extensionSelect" attr.Flag="6" >
									<select id="{=$key1.$key2}" onchange="selectVersion(this.options[this.options.selectedIndex].value)">
										<foreach for="{=$item2['option']}" key='key3' item='item3'>
											<option value="{=$key3}">{=$item3}</option>						
										</foreach>
									</select>
								</div>
							</span>
						</div>

					</div>
					
					<div class="extensionDependence" attr.Flag="3">
						<div id="{=$key1.$item2['32version'].'depen'}" attr.Flag="4" style="display:none;background:#f2f5f7;moz-border-radius:50px;">
							<if "empty({=$item2['dependence']})">
								无依赖关系
							</if>
							<foreach for="{=$item2['dependence']}" key='key3' item='item3'>
								<if"$item3['high']!=null">
									<if "{=$item3['itemnameCh']}!=null">
										{=$item3['typeCh']}:{=$item3['itemnameCh']}({=$item3['itemname']}){=$item3['highcompare']}{=$item3['high']}
									<else/>
										{=$item3['typeCh']}:{=$item3['itemname']}{=$item3['highcompare']}{=$item3['high']}
									</if>
								</if>
									<if "{=$item3['itemnameCh']}!=null">
										{=$item3['itemnameCh']}({=$item3['itemname']}){=$item3['lowcompare']}{=$item3['low']}<br/>
									<else/>
										{=$item3['itemname']}{=$item3['lowcompare']}{=$item3['low']}<br/>
									</if>		
							</foreach>
						</div>
					</div>
					
					<div class="extensionDescription" attr.Flag="3">
						<div  class="extensionDescriptionMore" attr.Flag="2" id="{=$key1.$item2['32version'].'exdescriptionmore'}">
							<font face="verdana" size="2" color="green">描述</font>:{=$item2['description']}

						</div>
						<a id="{=$key1.$item2['32version']}more" href='javascript:void(0)' onclick="displayMore('{=$key1.$item2['32version']}')">更多</a>
						<span style="position:absolute; right:13px;">Date:{=date("Y-m-d", $item2['createtime'])}</span>
					</div>
				</div>
		</foreach>
	</if>
</foreach>
<div attrFlag="dd"></div>
<widget id="paginator" attr.strategy="middle" attr.showFirst="1" attr.showLast="1" attr.showTotal="1" attr.showPre="1" attr.showNext="1" />
</div>
