@CHARSET "UTF-8";

#extension_title{width:380px; height:22px; border-color:#ccc #f0f0f0 #f0f0f0 #ccc; border-width:1px; border-style:solid;padding:0 2px;}
.coresystem-form-title{position:relative;}
#extension_color_selecter{display:none;position:absolute;z-index:19999}